<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.francesco.citapluus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="CitaPluus"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.CitaPluus">

    <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Ajustes" />

        <activity android:name=".LoginActivity"  android:exported="false" />
        <activity android:name=".PerfilActivity" android:exported="false" />
        <activity android:name=".WorkerMainActivity" android:exported="false" />
        <activity android:name=".MedicamentosActivity" android:exported="false"/>

        <activity android:name=".CentrosMapaActivity" android:exported="false" />
        <activity android:name=".FavoritesActivity" android:exported="false" />
        <receiver android:name=".CitaReminderReceiver" android:exported="false" />
    </application>
</manifest>
